.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(142 142 142 / 60%);
  padding-top: 220px;
}

.container {
  position: relative;
  z-index: 101;
  width: fit-content;
  max-width: calc(100vw - var(--space-32) * 2);
  background-color: var(--color-card);
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-md);
}
