.group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  width: 284px;
}

.title {
  padding: 0;
  margin-bottom: var(--space-20);
  font-family: var(--font-display);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body);
  color: var(--color-text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.option {
  display: flex;
  align-items: center;
  gap: var(--space-12);
  cursor: pointer;
  width: fit-content;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.icon,
.iconSelected {
  flex-shrink: 0;
  color: black;
}

.iconSelected {
  color: var(--color-link);
}

.label,
.labelSelected {
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-text);
}
