.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-12);
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-8);
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--space-8);
}

.title {
  margin: 0;
}
